<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>info</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    
    <% if(action == 'ajouter'){%>
      <section> 
        <form action="ajouterVoiture" method="post">
          
          <label for="nomVoiture">Nom :</label>
          <input type="text" name="nomVoiture">
        </div>
        <div></div>
          <label for="anneeVoiture">Anne :</label>
          <input type="text" name="anneeVoiture">
        </div>
        <div>
          <label for="modeleVoiture">Modele : </label>
          <input type="text" name="modeleVoiture">
        </div>
        <div>
          <input type="submit" value="Ajouter"></input>
        </div>
        </form>
      </section>
      <%
    }else
    { %>
      <a href="/info/ajouter"> Ajouter une voiture</a>
      <table>
        <tr>
          <th>Marque </th>
          <th>Annee </th>
          <th>Modele </th>
        </tr>
        <% if(action == 'ajouter'){%>
          <h1><%= title %></h1>
          <label for="nomVoiture">Nom :</label>
          <input type="text" name="nomVoiture">

          <label for="anneeVoiture">Anne :</label>
          <input type="text" name="anneeVoiture">

          <label for="modeleVoiture">Modele : </label>
          <input type="text" name="modeleVoiture">
          <input type="submit" label="ajouter">


       <% }%>
        
        <% 
        if (infoVoitures.length > 0 ){
          infoVoitures.forEach(function(data){%>

              <tr>
                <td><%= data.nom %></td>
                <td><%= data.annee %></td>
                <td><%= data.modele %></td>
              </tr>
              <%
              });
            }
            else{
              %>
              <tr colspan= 3><tr>
                <td>Aucun info</td>
              </tr>
                <%
            }
            %>
        
      </table>
    <% } %>
     
    
  </body>
</html>
